* {
  font-family: Roboto, sans-serif;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header,
nav,
main,
footer {
  margin: 20px;
}

header {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
}
.new-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
input[name="title"] {
  border: 2px solid #007bff;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 30px;
}

input[name="title"]:focus {
  border-color: #ff0000;
}
textarea[name="content"] {
  border: 2px solid #007bff;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  box-shadow: none;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 30px;
}

textarea[name="content"]:focus {
  border-color: #ff0000;
}

ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul li a:hover {
  color: rgb(255, 0, 0);
}
.standard-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 16px;
}

#indices{
  list-style: none;

}

#indices li{
  margin-bottom: 5px;
  background-color: rgb(110, 110, 247);
  width: 200px;
  height: 30px;
}

#indices li a{
  padding: 10px;
  color: aliceblue;
  font-size: 20px;
}

#indices_head{
  margin-top: 50px;
}
#indices_div{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-right: 40px;
}
